@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@mixin marginless {
  margin: 0;
  padding: 0;
}

@mixin even-flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
$faintgrey: rgb(235, 235, 235);

body {
  @include marginless;
}
.stats-table {
  display: grid;
  grid: {
    gap: 0.8rem;
    template: {
      columns: 1fr minmax(30px, 0.5fr) minmax(20px, 1em);
      rows: auto;
    }
  };
  .metrics-placeholder {
    grid-column-start: 1;
  }
  .ratings-bar {
    grid-column-start: 2;
  }
  .metrics-value {
    grid-column-start: 3;
    justify-self: end;

  }
}

#reviews {
  font-size: 17.5px;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(72, 72, 72);
}

.reviews-title {
  margin-bottom: .5rem;
  color: black;
  font-size: 1.375rem;
  line-height: 1.4545454545;
  font-weight: 400;
}

.reviews-title-header {
  font-weight: 700
}

.ratings-bar {
  box-sizing: border-box;
  position: relative;
  .dots-container {
    display: inline-flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
     position: relative;
     width: 100%;
  };
  .ratings-bar-dot {
    color: white;
    z-index: 2;
  };
  .ratings-bar-inner-bar {
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline;
    box-sizing: border-box;
    height: 1rem;
    border: {
      top: 0.45em solid white;
      bottom: 0.2em solid white;
    }
    &.fg {
      background-color: black;
    }
    &.bg {
      background-color: $faintgrey;
      width: 100%;
    }
  }
}

@mixin greyborder {
  border: {
    bottom: 1px solid $faintgrey;
  }
}

.review-list {
  background-color: white;
  
  .review-list-item {
    // @extend .review-list;
    @include greyborder;
    .review-list-item-header {
      @include even-flex-row();
      flex-wrap: nowrap;
      font-size: 15px;
      .stars {
        font-size: 20px;
      }
    }
    padding: {
      top: 2rem;
      bottom: 2rem;
    }

  }
  
  .review-aggregator {
    @include greyborder;
    h2 {
      color: black;
      font-weight: 700;
      &.review-agg-header {
        font-size: 22.5px;
      }
      &.overall-score {
        font-size: 30px;
      }
    }
  }
}

.thumbnail {
  border-radius: 100%;
  max-width: 4rem;
  height: auto;
}

.table-view {
  // margin: 0 auto;
  margin-bottom: 1rem;
  .table-view-head-container {
    @include even-flex-row();
    justify-content: start;
    .table-view-header {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding-left: 1rem;
    }
  }
  .table-view-body {
    &.clamped {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.toggle-hide {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@mixin smol-screen-no-table {
  @media (max-width: 640px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}

@mixin bicolumn {
  width: calc(50% - 0.5rem);
  @media (max-width: 640px) {
    width: 100%;
  }
}

.review-table-container {
  margin: 1rem 0;
  .review-table-stats {
    @include even-flex-row;
    max-width: 100%;
    @include smol-screen-no-table;
  }
}

.review-table-row {
  display: grid;
  align-items: start;
  grid: {
    template: {
      columns: 2fr 2fr auto;
    }
  }
  @include bicolumn;
  .metrics-value {
    padding-left: 1rem;
  }
}

.review-table-box {
  @include even-flex-row();
  margin-top: 1rem;
  flex: 2;
  max-width: 100%;
  align-content: flex-start;
  width: 100%;
  .table-view {
    flex-wrap: wrap;
    @include bicolumn;
  }
  @include smol-screen-no-table;
}

.table-view-header-date {
  font-weight: 100;  
  font-size: 0.9rem;
  color: darkgrey;
}

.modal-popup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 100%;
  margin-right: 3rem;

  .modal-background {
    // flex: 0 0 60%;
    // opacity: 80%;
    background-color: rgba(0,0,0,.15);
    width: 60%;
  }
  .modal-popup-inner-container {
    position: relative;
    flex: 1 0 30rem;
    .review-list {
      // width: 30rem;
      min-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 40px 1.25rem 50px;
    }
  }
    // justify-content: space-between;

}
.reviews-modal-container {
  background-color: '#0a0a0a';
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.review-sorter {
  @include even-flex-row();
  width: 33%;
  float: left;

  .directional {
    cursor: pointer;
  }
}

.reviews-button {
  line-height: 1.57143;
  min-height: 5.625rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  #nested-button {
    display: inline-block;
    margin: auto 0;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    color: #111;
  }
  // & {
  
  // }
}